<!DOCTYPE html>
<html>
    <head><title>web development signup</title></head>
    <body>
        <h1>Sign up</h1>
        <form action="" method="POST">
            <label for="user-name">User name<input type="text" name="username" >{{error_username}}</label>
            <br>
            <label for="passW">Password<input type="password" name="password">{{error_password}}</label>
            <br>
            <label for="veriPassW">Verify password<input type="password" name="verify">{{error_verify}}</label>
            <br>
            <label for="mail">Email(optional)<input type="email" name="email">{{error_email}}</label>
            <br>
            <input type="submit" value="Signup">
        </form>
    </body>
</html>