<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>wen777</title>
</head>

<body data-feedly-mini="yes">
    <div class="container-narrow">
         <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/signin">Signin</a></li>
            </ul>
            <h3 class="muted">wen777's CS253</h3>
        </div>
        <hr>
    {% block content %}
    {% endblock %}
    </div>

    <div class="container-narrow">
        <div class="footer">
            <p>@wen777 2014</p>
        </div>
    </div>
</body>

</html>